@use "../variables/fonts";
@use "../variables/variables";


@mixin resetGeneralProperties {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@mixin setHTML {
    height: 100%;
}

@mixin setBody {
    min-height: 100vh;
    width: 100%;
}

@mixin setContainer {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}
